# A list of packages commonly used across projects

# YAML
ruamel.yaml

# Data Analysis
numpy
pandas
scipy

# Visualisation
matplotlib
seaborn

# Documentation
myst-parser
pydata-sphinx-theme
sphinx
sphinx-autodoc-napoleon-typehints
sphinx-markdown-tables
sphinx_rtd_theme
sphinxcontrib-coverage
sphinxcontrib-githubpages
sphinxcontrib-mermaid
sphinxcontrib-napoleon
sphinxcontrib-viewcode
